$accent-border-width: 6px

// Colors

$red-primary: #FFEBEE
$red-accent: #FFCDD2

$green-primary: #E8F5E9
$green-accent: #C8E6C9

$green-dark-primary: #43A047
$green-dark-accent: #2E7D32

$blue-primary: #E3F2FD
$blue-accent: #BBDEFB

$blue-dark-primary: #1E88E5
$blue-dark-accent: #1565C0

$pink-primary: #FCE4EC
$pink-accent: #F8BBD0

$pink-dark-primary: #E91E63
$pink-dark-accent: #AD1457

$purple-primary: #F3E5F5
$purple-accent: #E1BEE7

$amber-primary: #FFF8E1
$amber-accent: #FFE082
