
$accent-border-width: 6px

$red-primary: #FFEBEE
$red-accent: #FFCDD2

$green-primary: #E8F5E9
$green-accent: #C8E6C9

$blue-primary: #E3F2FD
$blue-accent: #BBDEFB

$green-dark-primary: #43A047
$green-dark-accent: #2E7D32

$blue-dark-primary: #1E88E5
$blue-dark-accent: #1565C0

$purple-primary: #F3E5F5
$purple-accent: #E1BEE7

$amber-primary: #FFF8E1
$amber-accent: #FFE082
