$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$block-spacing: 16px;
$block-padding: 16px;
$mini-block-spacing: $block-spacing / 2;
$block-content-spacing: 8px;

$container-sm: 720px + $block-spacing * 2;
$container-md: 940px + $block-spacing * 2;
$container-lg: 1140px + $block-spacing * 2;

$accent-border-width: 6px;

$font-family-mono: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 500;

$line-height: 1.5;

$navbar-bg-color: #333;
$navbar-text-color: #aaa;
$navbar-text-highlight: #fff;
$navbar-brand-font-size: 1.5rem;
$navbar-link-font-size: 1rem;

// Colors

$background-light: #fff;
$background-light-accent: #eee;
$background-dark: #000;

$text-light: #fff;
$text-light-accent: #aaa;
$text-dark: #000;
$text-dark-accent: #666;

$transparent-light: rgba(0, 0, 0, 0.4);
$transparent-dark: rgba(0, 0, 0, 0.9);

$loader-color: #666;

$white-primary: #fff;
$white-accent: #ddd;

$grey-primary: #999;
$grey-accent: #666;

$red-primary: #ffebee;
$red-accent: #ffcdd2;

$red-dark-primary: #f44336;
$red-dark-accent: #c62828;

$green-primary: #e8f5e9;
$green-accent: #c8e6c9;

$green-dark-primary: #43a047;
$green-dark-accent: #2e7d32;

$blue-primary: #e3f2fd;
$blue-accent: #bbdefb;

$blue-dark-primary: #1e88e5;
$blue-dark-accent: #1565c0;

$pink-primary: #fce4ec;
$pink-accent: #f8bbd0;

$pink-dark-primary: #e91e63;
$pink-dark-accent: #ad1457;

$purple-primary: #f3e5f5;
$purple-accent: #e1bee7;

$purple-dark-primary: #8e24aa;
$purple-dark-accent: #6a1b9a;

$amber-primary: #fff8e1;
$amber-accent: #ffe082;

$amber-dark-primary: #ffb300;
$amber-dark-accent: #ff8f00;
