.auth {
  margin: 20px 0;

  > input {
    &[type="text"],
    &[type="password"] {
      display: block;
      width: 300px;
      height: 3em;
      margin: 10px auto 0;
    }
  }

  > button {
    display: block;
    width: 300px;
    height: 3em;
    margin: 10px auto 0;
  }
}
