@import "constants"

.bubble
  overflow-wrap: break-word
  padding: 20px

  > :not(:first-child)
    margin-top: 8px

.for
  border-left: $accent-border-width solid $purple-accent

  .info, .bubble
    background-color: $purple-primary

  .bubble.click:hover
    background-color: $purple-accent
    color: $text-dark

.against
  border-left: $accent-border-width solid $amber-accent

  .info, .bubble
    background-color: $amber-primary

  .bubble.click:hover
    background-color: $amber-accent
    color: $text-dark

.info
  align-items: center
  color: $transparent-light
  display: flex
  line-height: 1
  padding: 0.5em

  > :not(:first-child)
    margin-left: 0.8em

  .id
    flex: 1
    font-size: 0.8em

  a, .click
    color: $transparent-light

    &:hover
      color: $transparent-dark

.hint
  display: block
  font-size: 0.75em
  margin-bottom: -8px
