.bubble {
  border-radius: 5px;
  display: block;
  padding: 20px;
}
.content {
  flex: auto;
}
.content > :not(:first-child) {
  margin-top: 8px;
}
.controls {
  margin-left: 10px;
}
.controls > * {
  display: block;
}
.controls > :not(:first-child) {
  margin-top: 8px;
}
.controls .click {
  color: rgba(0, 0, 0, 0.15);
}
.controls .click:hover {
  color: rgba(0, 0, 0, 0.85);
}
