@import "constants"

.bubble
  align-items: flex-start
  display: flex
  padding: 20px

.for
  border-left: $accent-border-width solid $purple-accent

  > .bubble
    background-color: $purple-primary

    &.click:hover
      background-color: $purple-accent
      color: #000

.against
  border-left: $accent-border-width solid $amber-accent

  > .bubble
    background-color: $amber-primary

    &.click:hover
      background-color: $amber-accent
      color: #000

.content
  flex: auto

  > :not(:first-child)
    margin-top: 8px

.controls
  margin-left: 8px

  > *
    display: block

  > :not(:first-child)
    margin-top: 8px

  .click
    color: rgba(0, 0, 0, 0.15)

    &:hover
      color: rgba(0, 0, 0, 0.85)

.info
  line-height: 1
  padding: 8px
  text-align: right

  .click
    color: #ccc

    &:hover
      color: #444
