@import "constants"

.bubble, .block
  clear: both
  display: block
  overflow-wrap: break-word
  padding: $block-padding
  text-align: left

  > :not(:first-child)
    margin-top: 8px

  > h2:first-child,
  > h3:first-child
    font-weight: 500
    margin: 0 0 8px

  ul
    margin: 0
    padding-left: 16px

  p
    margin: 8px 0 0

.block
  margin-top: $block-spacing

  &.no-pad
    padding: 0

=t1($primary-color, $accent-color)
  font-size: 20px
  margin-top: $block-spacing

  &.block
    background-color: $primary-color
    border-left: $accent-border-width solid $accent-color
    padding: 20px

    @at-root a#{&}:hover, &.click:hover
      background-color: $accent-color
      text-decoration: none

  &:not(.for):not(.against)
    border-left: $accent-border-width solid $accent-color

    .info, .bubble
      background-color: $primary-color

    .bubble.click:hover
      background-color: $accent-color
      color: $text-dark

.topic
  +t1($pink-primary, $pink-accent)

.claim
  +t1($blue-primary, $blue-accent)

.source
  +t1($green-primary, $green-accent)

.for
  border-left: $accent-border-width solid $purple-accent

  &.block, > .info, > .bubble
    background-color: $purple-primary

  &.block.click:hover, > .bubble.click:hover
    background-color: $purple-accent
    color: $text-dark

.against
  border-left: $accent-border-width solid $amber-accent

  &.block, > .info, > .bubble
    background-color: $amber-primary

  &.block.click:hover, > .bubble.click:hover
    background-color: $amber-accent
    color: $text-dark

.info
  align-items: center
  display: flex
  justify-content: center
  line-height: 1
  padding: 0.5em

  > :not(:first-child)
    margin-left: 0.8em

  .id
    color: $transparent-light
    flex: 1
    font-size: 0.8em

  .dwd-btn
    font-size: 0.8em
    margin: 0 4px
    padding: 4px 8px

  .controls
    display: flex
    flex: 1
    justify-content: flex-end

    > :not(:first-child)
      margin-left: 0.8em

  a, .click
    color: $transparent-light

    &:hover
      color: $transparent-dark

.hint
  display: block
  font-size: 0.75em
  margin-bottom: -8px
