@import "constants"

=color($primary, $accent)
  background-color: $primary
  border-left: $accent-border-width solid $accent

  @at-root a#{&}:hover,
  &.click:hover
    background-color: $accent

.red
  +color($red-primary, $red-accent)

.green
  +color($green-primary, $green-accent)

.green-dark
  +color($green-dark-primary, $green-dark-accent)

.blue
  +color($blue-primary, $blue-accent)

.blue-dark
  +color($blue-dark-primary, $blue-dark-accent)

.pink
  +color($pink-primary, $pink-accent)

.pink-dark
  +color($pink-dark-primary, $pink-dark-accent)

.purple
  +color($purple-primary, $purple-accent)

.amber
  +color($amber-primary, $amber-accent)
