@import "bubble"
@import "colors"

body
  font-family: 'Roboto', 'Noto Sans', sans-serif
  line-height: 1.5
  margin-bottom: 50px

h1
  font-size: 42px

h2
  font-size: 24px

h3
  font-size: 20px

textarea
  border: 1px solid #666
  border-radius: 5px
  display: block
  overflow: hidden
  padding: 0.5em
  resize: none
  width: 100%

input
  &[type="text"], &[type="password"]
    border: 1px solid #666
    border-radius: 5px
    display: block
    overflow: hidden
    padding: 0.5em
    resize: none
    width: 100%

  &:focus
    outline: none
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75)

textarea:focus
  outline: none
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75)

a
  color: #222
  text-decoration: none

  &:hover
    color: #222

p a
  color: #337ab7

  &:visited, &:focus
    color: #337ab7

.container.narrow
  max-width: 700px

.block
  display: block
  margin: 20px 0
  padding: 20px
  text-align: left

  > h2:first-child,
  > h3:first-child
    font-weight: 500
    margin: 0 0 8px

  ul
    margin: 0
    padding-left: 16px

.gutter-16
  &.row
    margin-right: -8px
    margin-left: -8px

  [class^="col-"],
  [class^=" col-"]
    padding: 8px

.center
  text-align: center

.mono
  font-family: "Roboto Mono",Menlo,Monaco,Consolas,"Courier New",monospace

.click:hover
  color: #aaa
  cursor: pointer
  text-decoration: none

.flex-row
  align-items: flex-start
  display: flex

a.add
  border-radius: 3px
  color: #fff
  display: inline-block
  margin-top: 8px
  padding: 8px 16px
  text-align: center
  text-decoration: none

=t1($primary-color, $accent-color)
  font-size: 20px
  margin: 8px 0 0

  &.block
    background-color: $primary-color
    border-left: $accent-border-width solid $accent-color
    padding: 20px

    &:hover
      background-color: $accent-color
      text-decoration: none

  &.neutral
    border-left: $accent-border-width solid $accent-color

    .info, .bubble
      background-color: $primary-color

    .bubble.click:hover
      background-color: $accent-color
      color: #000

.claim
  +t1($blue-primary, $blue-accent)

.source
  +t1($green-primary, $green-accent)

.dropdown
  display: inline-block
  position: relative

.dropdown-content
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  display: block
  max-height: 0
  min-width: 160px
  opacity: 0
  overflow: hidden
  position: absolute
  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s
  visibility: hidden
  z-index: 1

.open
  transition: max-height 0.3s, opacity 0.2s, visibility 0s
  opacity: 1
  visibility: visible
  max-height: 500px

.tag
  background-color: rgba(0, 0, 0, 0.5)
  border-radius: 4px
  color: #fff
  font-size: 0.65em
  padding: 2px 4px

.link-icon
  color: rgba(0, 0, 0, 0.4)
  float: right
  padding-left: 5px

  &:hover
    text-decoration: none
