@import "bubble";
@import "colors";

* {
  box-sizing: border-box;
}

body {
  margin-bottom: 75px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: $font-weight-normal;
  line-height: $line-height;
}

h1,
h2,
h3,
p {
  margin: 1rem 0 0;
}

h1,
h2,
h3,
strong {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}

textarea,
input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5em;
  overflow: hidden;
  border: 1px solid $text-light-accent;
  font-weight: inherit;
  resize: none;

  &:focus {
    border-color: $text-dark-accent;
    outline: none;
    box-shadow: 0 0 1px 0 $transparent-light;
  }

  &.error {
    border-color: $red-dark-primary;
    color: $text-dark;

    &:focus {
      box-shadow: 0 0 1px 0 $red-dark-primary;
    }
  }

  &.warning {
    border-color: $amber-dark-primary;
    color: $text-dark;

    &:focus {
      box-shadow: 0 0 1px 0 $amber-dark-primary;
    }
  }

  &.success {
    border-color: $green-dark-primary;
    color: $text-dark;

    &:focus {
      box-shadow: 0 0 1px 0 $green-dark-primary;
    }
  }
}

a {
  color: $text-dark;
  text-decoration: none;

  @at-root p & {
    color: $blue-dark-primary;

    &:visited,
    &:focus {
      color: $blue-dark-primary;
    }
  }

  &:hover {
    color: $text-dark;
  }
}

.dwd-container {
  margin: 0 auto $block-spacing;
  padding: 0 $block-spacing;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  &.narrow {
    @media (min-width: $screen-md-min) {
      width: $container-sm;
    }

    @media (min-width: $screen-lg-min) {
      width: $container-sm;
    }
  }

  .dwd-col {
    width: 50%;
    min-height: 1em;
    padding: 0 ($block-spacing / 2) 0 0;
    float: left;

    & + .dwd-col {
      padding: 0 0 0 ($block-spacing / 2);
    }
  }
}

.center {
  text-align: center;
}

.mono {
  font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.click:hover {
  text-decoration: none;
  cursor: pointer;
}

.dwd-btn,
a.dwd-btn {
  display: inline-block;
  margin: 4px;
  padding: 8px 16px;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &[disabled] {
    background-color: $grey-primary;
    cursor: not-allowed;

    &:hover {
      background-color: $grey-accent;
    }
  }
}

.dwd-btn-primary {
  @extend .blue-dark;
}

.tag {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: $transparent-light;
  color: $text-light;
  font-size: 0.65em;
}

.link-icon {
  padding-left: 5px;
  float: right;
  color: $transparent-light;
  line-height: $line-height;

  &:hover {
    text-decoration: none;
  }
}

.success {
  color: $green-dark-primary;
}

.warning {
  color: $amber-dark-primary;
}

.error {
  color: $red-dark-primary;
}

del,
.del {
  background-color: $red-accent;
  text-decoration: none;
}

ins,
.ins {
  background-color: $green-accent;
  text-decoration: none;
}
