@import "constants";

.point {
  margin-top: $block-spacing;
  font-size: 1rem;
  list-style: none;

  &.block,
  > .bubble {
    padding: 18px;
  }
}

.sub-point {
  margin: 3px 0 0 3px;
  font-size: 0.75rem;
  list-style: none;

  &.block,
  > .bubble {
    padding: 12px;
  }

  &.for.block,
  &.for > .bubble {
    border-top: 1px solid $purple-accent;
    border-right: 1px solid $purple-accent;
    border-bottom: 1px solid $purple-accent;
    background-color: $background-light;
  }

  &.against.block,
  &.against > .bubble {
    border-top: 1px solid $amber-accent;
    border-right: 1px solid $amber-accent;
    border-bottom: 1px solid $amber-accent;
    background-color: $background-light;
  }

  &.for > .info,
  &.against > .info {
    background-color: $background-light;
  }
}
