body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  line-height: 1.5;
}
textarea, input {
  border: 1px solid #666;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  padding: 0.5em;
  resize: none;
  width: 100%;
}
input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
}
a, a:visited, a:focus {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #222;
}
.gutter-16.row {
  margin-right: -8px;
  margin-left: -8px;
}
.gutter-16 > [class^="col-"], .gutter-16 > [class^=" col-"] {
  padding: 8px;
}
.mono {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.click:hover {
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}
.flex-row {
  align-items: flex-start;
  display: flex;
}
.content {
  flex: auto;
}
.content > :not(:first-child) {
  margin-top: 8px;
}
.controls {
  margin-left: 10px;
}
.controls > * {
  display: block;
}
.controls > :not(:first-child) {
  margin-top: 8px;
}
.controls .click {
  color: rgba(0, 0, 0, 0.15);
}
.controls .click:hover {
  color: rgba(0, 0, 0, 0.85);
}
.t1 {
  background-color: #E0F2F1;
  border: 1px solid #B2DFDB;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 8px;
  padding: 16px;
}
a.t1 {
  color: #000;
  display: block;
}
a.t1:hover {
  background-color: #B2DFDB;
  text-decoration: none;
}
.source-text {
  display: block;
}
.source-url {
  display: block;
  color: #666;
  font-size: 12px;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: block;
  max-height: 0;
  min-width: 160px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  visibility: hidden;
  z-index: 1;
}
.open {
  transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}
