input {
  border: 1px solid #666;
  border-radius: 5px;
  display: block;
  padding: 0.5em;
  width: 100%;
}
input:focus {
  outline: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
}
.gutter-16.row {
  margin-right: -8px;
  margin-left: -8px;
}
.gutter-16 > [class^="col-"], .gutter-16 > [class^=" col-"] {
  padding: 8px;
}
.click:hover {
  color: #aaa;
  cursor: pointer;
}
.t1 {
  background-color: #EEEEEE;
  border: 1px solid #757575;
  margin-top: 8px;
  padding: 16px;
}
a.t1 {
  color: #000;
  display: block;
}
a.t1:hover {
  background-color: #E0E0E0;
  text-decoration: none;
}
.source-text {
  font-size: 16px;
  font-weight: 600;
}
.source-url {
  color: #666;
  font-size: 12px;
}
